<footer
  class="relative bottom-0 w-full px-4 py-8 font-medium text-blacktext dark:bg-transparent dark:border-b-2 dark:border-zinc-800 dark:text-zinc-400 max-lg:mt-3"
  role="contentinfo"
  aria-label="Site footer"
>
  <div class="text-center">
    <a
      href="https://tomsgrizzi.github.io/"
      class="flex items-center justify-center gap-3 text-base font-normal italic max-sm:text-sm opacity-70 hover:opacity-100 transition-opacity"
      aria-label="About the website development"
      >Developed by Tommaso Sgrizzi, with Astro</a
    >
  </div>
</footer>
